<h1>Schools.new (/schools/new)</h1>

<form action="/schools/" method="post" enctype="multipart/form-data">
	<input type="text" name="name" />
	<input type="file" name="file" />
	<button type=submit>Create School</button>
</form>
